* {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 0;
}

.header {
  display: grid;
  grid-template-columns: 0.6fr 0.6fr 1fr ;
  align-items: center;
  grid-gap: 50px;
  padding: 10px 20px;
  width: 90vw;
  margin-left: 5%;
  align-self: start;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #0056b3;
}
.logo-text-small {
  color: #1a9c4c;
}

.open-btn{
  background-color: #0056b3;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  padding: 10px;
  cursor: pointer;

}
.calc{
  background-color: #0056b3;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  text-align: center;
}
.calc-button {
  background-color: #0056b3;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  padding: 10px;
  cursor: pointer;
}


.button-group {
  display: flex;
  align-items: center;
}

.button-group > * {
  margin-right: 10px;
}

.button-group > *:last-child {
  margin-right: 0;
}

.icon-links {
  display: flex;
  gap: 15px;
}

.icon-links a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-links i {
  font-size: 20px;
}

.auth-links {
  display: flex;
  align-items: center;
}

.auth-links > * {
  margin-right: 5px;
}

.auth-links > *:last-child {
  margin-right: 0;
}
.item-link{
  text-decoration: none;
}

@media (max-width: 768px) {
  .header {
      grid-template-columns: 1fr;
      text-align: center;
  }

  .icon-links {
      justify-content: center;
      flex-wrap: wrap;
  }

  .search-bar {
      flex-direction: column;
      gap: 10px;
  }

  .auth-links {
      margin-top: 10px;
  }

  .auth-links > span {
      display: none;
  }

  .auth-links > a {
      display: inline;
  }
}
