.modal {
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 100;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 99;
}

.modal-overlay.active {
    display: block;
}

.modal.active {
    pointer-events: all;
    opacity: 1;
}

.modal__content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal__content input {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.modal__content button {
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 255, 0);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.modal__content button:hover {
    background-color: rgb(2, 99, 2);
}

.checkbox-container {
    display: grid;
    align-items: center;
    grid-template-columns: 0.1fr 1fr;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox-container label {
    font-size: 14px;
    display: inline-block;
    width: calc(100% - 30px);
}

.checkbox-container label a {
    color: blue;
    text-decoration: none;
}

.checkbox-container label a:hover {
    text-decoration: underline;
}

span {
    display: flex;
    display: inline-block;
}